<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tutorial>
            <general>
                <display_text>FAQ Table</display_text>
                <display_text>5</display_text>
            </general>
        </tutorial>
    </default>
</config>
