<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TruongNX\Tutorial\Api\Data\FAQInterface" type="TruongNX\Tutorial\Model\FAQ" />

    <virtualType name="TruongNX\Tutorial\Model\ResourceModel\FAQ\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_table</argument>
            <argument name="resourceModel" xsi:type="string">TruongNX\Tutorial\Model\ResourceModel\FAQ</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_data_source" xsi:type="string">TruongNX\Tutorial\Model\ResourceModel\FAQ\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
